@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

.fw-feed-title {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-rendering: optimizelegibility;
    font-size: 1em;
    overflow: hidden;
    border-bottom: 1px solid #C7CDD1;
    margin: 0 0 6px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 20px 0 5px 0;
}