@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

.fw-feed-title {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.3em;
    border-bottom: 1px solid #C7CDD1;
    margin: 0px 0px 6px;
    font-weight: bold;
    padding: 0 0 5px ;
}